.homepage {
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    justify-content: center;
}


.directory-menu {
    width:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.menu-item {
    min-width: 10%;
    height: 800px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    border: 2px solid black;


.content {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

.title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
    align-items: center;
}

.subtitle {
    font-weight: lighter;
    font-size: 20px;
}
}
}